.responseMessage {
    margin-top: 20px;
}

.success {
    color: #8BC34A !important;
}

::ng-deep .temPlateFrm .mat-progress-spinner circle,
 ::ng-deep .temPlateFrm .mat-spinner circle {
    stroke: #ffffff;
}