<div class="__content_sec">
    <!-- <h1 class="comm_title_h1 ">Classroom</h1> -->
    <input class="searchField" [(ngModel)]="searchkey" required type="text" (ngModelChange)="searchResults($event)" autocomplete="off" matInput placeholder="Search classrooms" name="searchkey">
    <div class="userList">
        <div class="headingLst">
            <span>CLASSROOM</span>
            <span style="margin-left: 20px;">ID</span>
            <span style="margin-left: 20px;">CREATED AT</span>
            <span style="margin-right: 20px;">NO OF STUDENTS</span>
            <div style="margin-right: 40px;">ACTIONS</div>
        </div>
        <ng-container *ngFor="let item of classes; let i = index;">
            <app-class-single [item]="item" [last]="((i+1)==classes.length) ? true : false"></app-class-single>
        </ng-container>
        <div class="d-flex justify-content-center" style="min-height: 40px; margin-top: 10px;" *ngIf="isLoading">
            <mat-spinner style="margin:0 auto;" diameter="30"></mat-spinner>
        </div>
        <div class="empty" *ngIf="isEmpty">
            Sorry. No results not found. Modify your search.
        </div>
    </div>
</div>