<div class="__content_sec">
    <h1 class="comm_title_h1 ">Classroom</h1>
    <input class="searchField" [(ngModel)]="searchkey" required type="text" (ngModelChange)="searchResults($event)" autocomplete="off" matInput placeholder="Search classrooms" name="searchkey">
    <div class="userList">
        <div class="headingLst">
            <span>CLASSROOM</span>
            <span style="margin-left: 20px;">ID</span>
            <span style="margin-right: 20px;">NO OF STUDENTS</span>
            <div style="margin-right: 60px;">ACTIONS</div>
        </div>
        <app-class-single [item]="item" *ngFor="let item of classes"></app-class-single>
        <div class="d-flex justify-content-center" *ngIf="isLoading">
            <mat-spinner style="margin:0 auto;" diameter="30"></mat-spinner>
        </div>
        <div class="empty" *ngIf="isEmpty">
            Sorry. No results not found. Modify your search.
        </div>
    </div>
</div>