.subFrm {
    width: 530px;
}

::ng-deep .subFrm .mat-progress-spinner circle,
 ::ng-deep .subFrm .mat-spinner circle {
    stroke: #ffffff;
}

.ssd textarea {
    border: 2px solid #4DCCBD;
    border-radius: 3px;
    padding: 10px 15px;
    height: 300px;
    resize: none;
    overflow-y: auto;
}