<div class="single-temp">
    <div class="d-flex align-items-center" style="flex: 3;" [routerLink]="['/dashboard/class-room', item._id]">
        <img src="{{item && item.logo ? item.logo : './assets/images/unavailable.png'}}">
        <h1>{{item && item.name}}</h1>
    </div>
    <span style="flex: 3;" [routerLink]="['/dashboard/class-room', item._id]">{{item && item.classRoomId}}</span>
    <span style="flex: 2;" [routerLink]="['/dashboard/class-room', item._id]">{{item && item.members.length}}</span>
    <span style="flex: 2;">
        <button class="activate" [ngClass]="isActive ? '' : 'deactivated'"
        mwlConfirmationPopover
        [popoverTitle]="popoverTitle"
        [popoverMessage]="popoverMessage"
        placement="left"
        (confirm)="deactivate(item._id)"
        (cancel)="cancelClicked = true">{{isActive ? 'Deactivate' : 'Activate'}}</button>
    </span>
</div>