<div class="container-fluid">
    <div class="row">
        <mat-toolbar color="primary" class="__header justify-content-between">
            <h1 style="font-size: 20px;">
                <mat-icon matRipple [routerLink]="['/dashboard/home']" title="Goto Home">home</mat-icon>Users</h1>
            <!-- <mat-icon>share</mat-icon> -->
        </mat-toolbar>
    </div>

    <div class="__content_sec" style="padding-bottom: 50px;">
        <div class="inputField" style="margin-bottom: 2%; margin-top: 9%;">
            <input [(ngModel)]="searchkey" required type="text" autocomplete="off" matInput placeholder="Search user" name="searchkey" style="padding-right: 50px;">
            <mat-icon class="searchIcon">search</mat-icon>
        </div>
        <app-user-single [item]="item" *ngFor="let item of users"></app-user-single>
        <div class="d-flex justify-content-center" *ngIf="isLoading">
            <mat-spinner style="margin:0 auto;" diameter="50"></mat-spinner>
        </div>
    </div>
</div>