<div class="single-user" style="cursor: pointer;" [style.border]="last ? 'none':''">
    <div class="userSet" [routerLink]="['/dashboard/user', item._id]">
        <img src="{{item && item.profilePic ? item.profilePic : './assets/images/user.png'}}" alt="" style="border-radius: 35px;">
        <h1>{{item && item.firstName}} {{item && item.lastName}}</h1>
    </div>
    <span [routerLink]="['/dashboard/user', item._id]">{{item && item.email}}</span>
    <span [routerLink]="['/dashboard/user', item._id]">{{item && item.phone}}</span>
    <span [routerLink]="['/dashboard/user', item._id]">{{item && item.role}}</span>
    <span [routerLink]="['/dashboard/user', item._id]">
        <mat-icon *ngIf="item && item.verified" style="color: #22877C;">check_circle</mat-icon>
        <mat-icon *ngIf="item && !item.verified" style="color: #D8D8D8;">cancel</mat-icon>
    </span>
    <ng-container *ngIf="item.role != 'ADMIN'">
        <button class="activator" [ngClass]="isActive ? '' : 'deactivator'" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="left" (confirm)="deactivate(item._id)" (cancel)="cancelClicked = true">{{isActive ? 'Deactivate' : 'Activate'}}</button>
    </ng-container>
    <ng-container *ngIf="item.role == 'ADMIN'">
        <button class="activator" style="background: #e6e6e6; cursor: no-drop;">Disabled</button>
    </ng-container>
</div>