<div class="container-fluid">
    <div class="row">
        <mat-toolbar color="primary" class="__header justify-content-between">
            <h1 style="font-size: 20px;">
                <mat-icon matRipple [routerLink]="['/dashboard/home']" title="Goto Home">home</mat-icon>Notes</h1>
        </mat-toolbar>
    </div>


    <div class="__content_sec">
        <div class="d-flex justify-content-end">
            <button class="inputSubmit" style="margin-left: 10px;" [routerLink]="['/dashboard/create-note']" routerLinkActive="router-link-active">Create</button>
        </div>
        <div class="recent_set">
            <p>Today</p>
            <ul>
                <li>Maths Modue part2 <button class="docSubBlk" style="margin-top:0; margin-left: 10px;">Maths</button></li>
                <li>Science part 3 <button class="docSubBlk" style="margin-top:0; margin-left: 10px;">Science</button></li>
            </ul>
        </div>
    </div>
</div>