<div class="__content_sec" *ngIf="!isLoading">
    <h1 class="comm_title_small_h1 d-flex align-items-center pt-4">
        <mat-icon matRipple (click)="_location.back()" title="Go back" style="margin-right: 20px;">west</mat-icon>{{user && user.firstName}} {{user && user.lastName}} </h1>
    <div class="d-flex justify-content-between align-items-center mb-4 pt-2 ">
        <div class="d-flex justify-content-between align-items-center">
            <img class="proPic" src="{{user && user.profilePic ? user.profilePic : './assets/images/unavailable.png'}}" alt="">
            <div>
                <p class="border-bottom mb-0">{{user && user.email}}</p>
                <p class="border-bottom mb-0">Joined On : {{user && user.createdAt | dateAgo}}</p>
                <p class="border-bottom mb-0">Status : {{isActive ? 'Active' : 'In Active'}}</p>
            </div>
        </div>
        <div *ngIf="user.role != 'ADMIN'">
            <button class="activate" style="margin: 0;" [ngClass]="isActive ? '' : 'deactivated'" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="left" (confirm)="deactivate()" (cancel)="cancelClicked = true">{{isActive ? 'Deactivate' : 'Activate'}}</button>

        </div>
        <div *ngIf="user.role == 'ADMIN'">
            <button class="activate" style="background: #e6e6e6; cursor: no-drop;">Disabled</button>
        </div>
    </div>
    <h1 class="comm_title_h1" style="margin-bottom: 10px;">Classrooms</h1>
    <div *ngIf="classRooms.length > 0">
        <div class="userList">
            <div class="headingLst">
                <span>CLASSROOM</span>
                <span style="margin-left: 20px;">ID</span>
                <span style="margin-right: 20px;">NO.OF STUDENTS</span>
                <div style="margin-right: 60px;">ACTIONS</div>
            </div>

            <div class="single-user" style="cursor: pointer;" *ngFor="let item of classRooms" [routerLink]="['/dashboard/class-room', item._id]">
                <div class="userSet">
                    <img src="{{item && item.logo ? item.logo : './assets/images/unavailable.png'}}" alt="">
                    <h1>{{item && item.name}}</h1>
                </div>
                <span style="margin-left: 20px;" [routerLink]="['/dashboard/class-room', item._id]">{{item && item.classRoomId}}</span>
                <span style="margin-right: 20px;" [routerLink]="['/dashboard/class-room', item._id]">
                    {{item && item.members.length}}
                </span>
                <button class="vieW">View</button>
            </div>
            <div class="d-flex justify-content-center" *ngIf="isLoading">
                <mat-spinner style="margin:0 auto;" diameter="30"></mat-spinner>
            </div>
            <div class="empty" style="height: 10vh;" *ngIf="classRooms.length == 0">
                <mat-icon class="empty">sentiment_very_dissatisfied</mat-icon>
                <h5>{{user && user.firstName}} {{user && user.lastName}} not present in any class room</h5>
            </div>
        </div>
    </div>
    <h1 class="comm_title_h1" *ngIf="actvities.length > 0">Activities</h1>
    <div class="recent_set pb-3">
        <ul>
            <li *ngFor="let item of actvities" class="single_activity">
                <div class="iconSet">
                    <img src="./assets/images/icons/user.png" *ngIf="item && item.module == 'USER'">
                    <img src="./assets/images/icons/class.png" *ngIf="item && item.module == 'CLASSROOM'">
                    <img src="./assets/images/icons/post.png" *ngIf="item && item.module == 'POST'">
                    <img src="./assets/images/icons/note.png" *ngIf="item && item.module == 'NOTE'">
                    <img src="./assets/images/icons/doc.png" *ngIf="item && item.module == 'DOCUMENT'">
                    <img src="./assets/images/icons/curriculam.png" *ngIf="item && item.module == 'CURRICULUM'">
                </div>
                <div class="d-flex flex-column">
                    <h6 style="margin: 0;">{{item && item.title}}</h6>
                    <span style="font-weight: bold;">{{item && item.description}}</span>
                    <span style="font-size: 14px; margin-top: 7px; color: #C4C4C4;">{{item && item.createdAt | dateAgo}}</span>
                </div>
            </li>
            <div *ngIf="isLoadActvity">
                <mat-spinner style="margin:0 auto;" diameter="30"></mat-spinner>
            </div>
        </ul>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center" style="height: 60vh;" *ngIf="isLoading">
    <mat-spinner diameter="30"></mat-spinner>
</div>