.textT h1 {
    font-size: 19px;
    margin: 0;
    margin-left: 15px;
}

.textT img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.textT {
    display: flex;
    align-items: center;
}

.action {
    display: flex;
    align-items: center;
}

.action mat-icon {
    font-size: 35px;
    width: 35px;
    height: 35px;
}

.action p {
    margin: 0;
    margin-right: 15px;
    font-size: 17px;
}

.activate {
    background: #CC4D4D;
    border: none;
    padding: 4px 0px;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    transition: 0.5s;
    cursor: pointer;
    width: 125px;
}

.deactivated {
    background: #4dccbd !important;
}

.empty {
    font-size: 60px;
    width: 60px;
    height: 60px;
    color: #999;
}

.proPic {
    width: 120px;
    border-radius: 5px;
    margin-right: 20px;
    height: 120px;
    object-fit: contain;
}

.tempContent {
    border: 1px solid #22877c;
    border-radius: 5px;
    min-width: 600px;
    width: auto;
    overflow: hidden;
}

.tempContent span {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #b7eae5;
    overflow: hidden;
}

.tempContent span a {
    flex: 7;
    display: flex;
    align-items: center;
    color: #333;
    font-weight: 600;
}

.tempContent span a:hover {
    text-decoration: none;
}

a.leftSe {
    flex: 4 !important;
    background: #b8b8b8a6;
    padding: 12px;
    margin-right: 20px;
    font-weight: 500 !important;
}

a.rightSe p {
    margin: 0;
    background: #cecece;
    border-radius: 40px;
    padding: 2px 20px;
    font-size: 14px;
}

a.rightSe {
    display: flex;
    align-items: center;
}

.actv {
    text-transform: uppercase;
    font-size: 18px;
    color: #22877c !important;
}