.textT h1 {
    font-size: 19px;
    margin: 0;
    margin-left: 15px;
}

.textT img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.textT {
    display: flex;
    align-items: center;
}

.action {
    display: flex;
    align-items: center;
}

.action mat-icon {
    font-size: 35px;
    width: 35px;
    height: 35px;
}

.action p {
    margin: 0;
    margin-right: 15px;
    font-size: 17px;
}

.activate {
    background: #CC4D4D;
    border: none;
    padding: 4px 0px;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    transition: 0.5s;
    cursor: pointer;
    width: 125px;
}

.deactivated {
    background: #4dccbd !important;
}

.empty {
    font-size: 60px;
    width: 60px;
    height: 60px;
    color: #999;
}

.proPic {
    width: 80px;
    border-radius: 4px;
    margin-right: 20px;
    height: 80px;
    object-fit: contain;
}