.single-temp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 15px 30px;
    box-shadow: 2px 2px 3px #0002;
    border-radius: 8px;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
    margin: 10px 0;
}

.single-temp.mat-ripple:hover {
    right: 1px;
    transition: 0.5s;
    box-shadow: 2px 2px 3px #0003;
}

.single-temp h1 {
    margin: 0;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
}

.single-temp img {
    width: 60px;
    height: 60px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-right: 20px;
}

.templates_set {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
    margin-top: 25px;
}

.options {
    flex: 1;
    position: absolute;
    right: 20px;
    z-index: 111;
}

.options mat-icon {
    color: #999;
    transition: 0.3s;
}

.options mat-icon:hover {
    color: #444;
}

.searchIcon {
    position: absolute;
    right: 15px;
    top: 15px;
}