<div class="container-fluid">
    <div class="row">
        <mat-toolbar color="primary" class="__header justify-content-between">
            <h1 style="font-size: 20px;">
                <mat-icon matRipple [routerLink]="['/dashboard/home']" title="Goto Home">home</mat-icon> Templete </h1>
            <!-- <mat-icon>share</mat-icon> -->
        </mat-toolbar>
    </div>


    <div class="__content_sec">
        <div class="d-flex justify-content-end">
            <button class="inputSubmit" style="margin-left: 10px;" [routerLink]="['/dashboard/create-template']" routerLinkActive="router-link-active">Create</button>
        </div>

        <ng-container *ngIf="!isLoading">
            <div class="row justify-content-start" style="padding-bottom: 35px;">
                <div class="col-md-8">
                    <div class="single-temp">
                        <span style="flex: 3; font-weight: bold;">Template</span>
                        <span style="flex: 3; font-weight: bold;">Temp ID</span>
                        <span style="flex: 3; font-weight: bold;">Created at</span>
                        <span style="flex: 1; font-weight: bold;">Actions</span>
                    </div>
                </div>
                <div class="col-md-8" *ngFor="let item of templates">
                    <div class="single-temp" matRipple [routerLink]="['/dashboard/template/subject', item._id]">
                        <div class="d-flex align-items-center" style="flex: 3;">
                            <img src="{{item && item.logo}}" alt="">
                            <h1>{{item && item.name}}</h1>
                        </div>
                        <span style="flex: 3;">{{item && item.templateId}}</span>
                        <span style="flex: 3;">{{item && item.createdAt | dateAgo}}</span>
                        <span style="flex: 1;"></span>
                        <div class="d-flex align-items-center options" style="flex:1">
                            <mat-icon style="margin-left: 20px;" [routerLink]="['/dashboard/edit-template', item._id]" #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                            <mat-icon style="margin-left: 20px;" [routerLink]="['/dashboard/template/subject', item._id]" #tooltip="matTooltip" matTooltip="View">visibility</mat-icon>
                            <mat-icon style="margin-left: 20px;" (click)="deleteTemp(item._id)" #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="d-flex justify-content-center align-items-center" style="height: 60vh;" *ngIf="isLoading">
            <mat-spinner diameter="50"></mat-spinner>
        </div>
    </div>
</div>