<div class="container-fluid">
    <div class="row">
        <mat-toolbar color="primary" class="__header justify-content-between">
            <h1 style="font-size: 20px;">
                <mat-icon matRipple [routerLink]="['/dashboard/home']" title="Goto Home">home</mat-icon> Templete </h1>
            <!-- <mat-icon>share</mat-icon> -->
        </mat-toolbar>
    </div>


    <div class="__content_sec">
        <div class="d-flex justify-content-end">
            <button class="inputSubmit" style="margin-left: 10px;" [routerLink]="['/dashboard/create-template']" routerLinkActive="router-link-active">Create</button>
        </div>

        <ng-container *ngIf="!isLoading">
            <div class="row" *ngFor="let item of templates">
                <div class="col-sm-6 col-md-6">
                    <div class="single-temp" [routerLink]="['/dashboard/template', item._id]" routerLinkActive="router-link-active" matRipple>
                        <div class="d-flex align-items-center">
                            <img src="./../../assets/images/user.png" alt="">
                            <h1>{{item && item.name}}</h1>
                        </div>
                        <div class="d-flex align-items-center">View
                            <mat-icon style="margin-left: 10px;">visibility</mat-icon>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ngx-spinner bdColor="rgba(255, 255, 255, 1)" size="medium" color="#000" type="timer" [fullScreen]="true">
        </ngx-spinner>
    </div>
</div>