<div class="__content_sec" *ngIf="!isLoading">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="comm_title_small_h1 d-flex align-items-center pt-4">
            <mat-icon matRipple (click)="_location.back()" title="Go back" style="margin-right: 20px;">west</mat-icon>{{class && class.name}} </h1>
        <div>
            <button class="activator" [ngClass]="isActive ? '' : 'deactivator'" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="left" (confirm)="deactivate()" (cancel)="cancelClicked = true">{{isActive ? 'Deactivate' : 'Activate'}}</button>
        </div>
    </div>
    <div class="mb-5 pt-5">
        <div class="d-flex">
            <img class="proPic" src="{{class && class.logo ? class.logo : './assets/images/unavailable.png'}}" alt="">
            <div class="tempContent">
                <span>
                    <a class="leftSe">Name</a>
                    <a>{{class && class.name}}</a>
                </span>

                <span>
                    <a class="leftSe">Created At</a>
                    <a>{{class && class.createdAt | dateAgo}}</a>
                </span>

                <span>
                    <a class="leftSe">Privacy Type</a>
                    <a> <mat-icon style="font-size: 18px; height: 18px; width: 28px;">lock</mat-icon>{{class && class.public ? 'Public' : 'Private'}}</a>
                </span>

                <span style="border-bottom: none;">
                    <a class="leftSe">Status</a>
                    <a class="actv">{{class && class.active ? 'Active' : 'In Active'}}</a>
                </span>
            </div>
        </div>

    </div>


    <h1 class="comm_title_small_h1 " *ngIf="class.about">About</h1>
    <p class="comm_sub_title_small_p ">{{class && class.about}}</p>
    <h1 class="comm_title_small_h1 ">Modules</h1>
    <div class="grid-column_set">
        <div class="periodic_block" matRipple>
            <h2 class="primaryColor">{{classMeta && classMeta.subjects}}</h2>
            <p>Subjects</p>
        </div>
        <div class="periodic_block" matRipple>
            <h2 class="primaryColor">{{classMeta && classMeta.posts}}</h2>
            <p>Posts</p>
        </div>
        <div class="periodic_block" matRipple>
            <h2 class="primaryColor">{{classMeta && classMeta.docs}}</h2>
            <p>Documents </p>
        </div>
        <div class="periodic_block" matRipple>
            <h2 class="primaryColor">{{classMeta && classMeta.notes}}</h2>
            <p>Notes</p>
        </div>
        <div class="periodic_block" matRipple>
            <h2 class="primaryColor">{{classMeta && classMeta.members}}</h2>
            <p>Members</p>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <h1 class="comm_title_small_h1 mt-5" *ngIf="userList.length>0">Members</h1>
    <div *ngIf="userList.length>0">
        <div class="userList">
            <div class="headingLst">
                <span>USER</span>
                <span style="margin-right: 20px;">ROLE</span>
                <div style="margin-right: 20px;">ACTIONS</div>
            </div>

            <div class="single-user" style="cursor: pointer;" *ngFor="let item of userList; let i = index ;">
                <div class="userSet">
                    <img src="{{item && item.profilePic ? item.profilePic : './assets/images/unavailable.png'}}" alt="">
                    <h1>{{item && item.firstName}} {{item && item.lastName}}</h1>
                </div>
                <span style="text-transform: capitalize;">{{item && item.role}}</span>
                <button class="vieW" [routerLink]="['/dashboard/user', item._id]">View</button>
            </div>
        </div>
    </div>
    <h1 class="comm_title_small_h1 mt-5" *ngIf="template">Associated Template</h1>
    <div class="d-flex align-items-center" *ngIf="template">
        <img class="proPic" src="{{template && template.logo ? template.logo : './assets/images/unavailable.png'}}" alt="">
        <div>
            <p class="border-bottom mb-0">{{template && template.name}}</p>
            <p class="border-bottom mb-0">Created On : {{template && template.createdAt | dateAgo}}</p>
            <p class="border-bottom mb-0">Status : {{template && template.active ? 'Active' : 'In Active'}}</p>
            <p class="border-bottom mb-0">Board : {{template && template.filters && template.filters.board}}</p>
        </div>
    </div>

</div>

<div class="d-flex flex-column justify-content-center align-items-center" style="height: 70vh;" *ngIf="isLoading">
    <mat-spinner style="margin:0 auto;" diameter="30"></mat-spinner>
</div>