<div class="__content_sec" *ngIf="!isLoading">
    <h1 class="comm_title_small_h1 d-flex align-items-center pt-4">
        <mat-icon matRipple (click)="_location.back()" title="Go back" style="margin-right: 20px;">west</mat-icon>{{class && class.name}} </h1>
    <div class="d-flex justify-content-between align-items-center mb-4 pt-2 ">
        <div class="d-flex justify-content-between align-items-center">
            <img class="proPic" src="{{class && class.logo ? class.logo : './assets/images/unavailable.png'}}" alt="">
            <div>
                <p class="border-bottom mb-0">{{class && class.name}}</p>
                <p class="border-bottom mb-0">Created On : {{class && class.createdAt | dateAgo}}</p>
                <p class="border-bottom mb-0">Status : {{class && class.active ? 'Active' : 'In Active'}}</p>
            </div>
        </div>
        <div>
            <button class="activator" [ngClass]="isActive ? '' : 'deactivator'" mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="left" (confirm)="deactivate()" (cancel)="cancelClicked = true">{{isActive ? 'Deactivate' : 'Activate'}}</button>
        </div>
    </div>


    <h1 class="comm_title_small_h1 " *ngIf="class.about">About</h1>
    <p class="comm_sub_title_small_p ">{{class && class.about}}</p>
    <h1 class="comm_title_small_h1 ">Modules</h1>
    <div class="grid-column_set">
        <div class="periodic_block" matRipple>
            <h2 class="primaryColor">{{classMeta && classMeta.subjects}}</h2>
            <p>Subjects</p>
        </div>
        <div class="periodic_block" matRipple>
            <h2 class="primaryColor">{{classMeta && classMeta.posts}}</h2>
            <p>Posts</p>
        </div>
        <div class="periodic_block" matRipple>
            <h2 class="primaryColor">{{classMeta && classMeta.docs}}</h2>
            <p>Documents </p>
        </div>
        <div class="periodic_block" matRipple>
            <h2 class="primaryColor">{{classMeta && classMeta.notes}}</h2>
            <p>Notes</p>
        </div>
        <div class="periodic_block" matRipple>
            <h2 class="primaryColor">{{classMeta && classMeta.members}}</h2>
            <p>Members</p>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <!-- <h1 class="comm_title_h1">Activities</h1>
    <div class="recent_set">
        <p>Today</p>
        <ul>
            <li>Cusat cse s6 class created</li>
            <li>User tom@gmail.com is deactivated</li>
            <li>New classroom iitcses6madras created </li>
        </ul>
    </div>
    <div class="recent_set">
        <p>22 Sep 2020</p>
        <ul>
            <li>Cusat cse s6 class created</li>
            <li>User tom@gmail.com is deactivated</li>
        </ul>
    </div> -->
</div>

<div class="d-flex flex-column justify-content-center align-items-center" style="height: 70vh;" *ngIf="isLoading">
    <mat-spinner style="margin:0 auto;" diameter="30"></mat-spinner>
</div>