<div class="container-fluid">
    <div class="row">
        <mat-toolbar color="primary" class="__header justify-content-between">
            <h1 style="font-size: 20px;">
                <mat-icon matRipple [routerLink]="['/dashboard/template-list']" title="Go Back">keyboard_arrow_left</mat-icon>Templete View</h1>
            <!-- <mat-icon>share</mat-icon> -->
        </mat-toolbar>
    </div>


    <div class="__content_sec" *ngIf="!isLoading">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h1 class="comm_title_small_h1 ">{{template && template.name}} </h1>
                <p class="comm_sub_title_small_p ">{{template && template.templateId}}</p>
            </div>
            <div class="d-flex align-items-center">
                Edit
                <mat-icon style="margin-left: 20px;" [routerLink]="['/dashboard/edit-template', template && template._id]">edit</mat-icon>
            </div>
        </div>
        <div class="grid-column_set">
            <div class="periodic_block" matRipple [routerLink]="['/dashboard/subject-listing']">
                <h2 class="primaryColor">{{subjects_count && subjects_count}}</h2>
                <p>Subjects</p>
            </div>
            <div class="periodic_block" matRipple [routerLink]="['/dashboard/curriculam']">
                <h2 class="primaryColor">{{curriculum_count && curriculum_count}}</h2>
                <p>Curriculum </p>
            </div>
            <div class="periodic_block" matRipple [routerLink]="['/dashboard/documents']">
                <h2 class="primaryColor">{{document_count && document_count}}</h2>
                <p>Documents </p>
            </div>
            <div class="periodic_block" matRipple [routerLink]="['/dashboard/notes']" routerLinkActive="router-link-active">
                <h2 class="primaryColor">{{notes_count && notes_count}}</h2>
                <p>Notes</p>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <ngx-spinner bdColor="rgba(255, 255, 255, 1)" size="medium" color="#000" type="timer" [fullScreen]="true">
    </ngx-spinner>
</div>