<div class="container">
    <h1 class="comm_title_small_h1 " style="margin-top: 10px;">Create Subject</h1>
    <div class="subFrm">
        <form name="createForm" [formGroup]="createForm">
            <div class="inputField">
                <label for="subName">Name*</label>
                <input [(ngModel)]="subName" autocomplete="off" required name="subName" [formControl]="subNameFormControl" matInput placeholder="Name">
                <p class="errorInput" [ngClass]="(subNameFormControl.invalid && (subNameFormControl.dirty || subNameFormControl.touched)) ? 'errorShow' : ''" *ngIf="subNameFormControl.invalid && (subNameFormControl.dirty || subNameFormControl.touched)">{{getNameErrorMessage()}}</p>
            </div>
            <div class="inputField">
                <label for="subInstructor">Instructor <span>(optional)</span></label>
                <input [(ngModel)]="subInstructor" type="text" autocomplete="off" matInput placeholder="Instructor" name="subInstructor">

            </div>

            <div class="d-flex justify-content-end">
                <button class="inputCancel" (click)="dialogRef.close()">Cancel</button>
                <button class="inputSubmit" style="margin-left: 10px;" [disabled]="createForm.status !== 'VALID'" (click)="formSubmit()">Create</button>
            </div>
            <div class="responseMessage" [ngClass]="success ? 'success' : ''">
                {{responseMessage && responseMessage}}</div>
        </form>
    </div>
</div>