<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="sideNav" [mode]="mobileQuery.matches ? 'over' : 'side'" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [opened]="!(isHandset$ | async)">
        <div class="logo text-center">
            <img src="./assets/images/side_logo.png" alt="">
        </div>
        <mat-nav-list style="margin-top: 30px;">
            <mat-list-item [routerLink]="['/dashboard/home']" routerLinkActive="routeActive" class="matListitem" (click)="mobileQuery.matches ? drawer.toggle() : null">
                <img mat-list-icon src="./assets/images/icons/dashboard.png" style="border-radius: 0;">
                <h4 mat-line class="titleMenuword">Dashboard</h4>
            </mat-list-item>
            <mat-list-item routerLinkActive="routeActive" [routerLink]="['/dashboard/class-rooms']" class="matListitem" (click)="mobileQuery.matches ? drawer.toggle() : null">
                <img mat-list-icon src="./assets/images/icons/class-room.png" style="border-radius: 0;">
                <h4 mat-line class="titleMenuword">Classrooms</h4>
            </mat-list-item>
            <mat-list-item routerLinkActive="routeActive" [routerLink]="['/dashboard/users']" class="matListitem" (click)="mobileQuery.matches ? drawer.toggle() : null">
                <img mat-list-icon src="./assets/images/icons/students.png" style="border-radius: 0;">
                <h4 mat-line class="titleMenuword">Users</h4>
            </mat-list-item>
            <mat-list-item routerLinkActive="routeActive" [routerLink]="['/dashboard/template-list']" class="matListitem" (click)="mobileQuery.matches ? drawer.toggle() : null">
                <img mat-list-icon src="./assets/images/icons/templates.png" style="border-radius: 0;">
                <h4 mat-line class="titleMenuword">Templates</h4>
            </mat-list-item>
            <mat-list-item routerLinkActive="routeActive" [routerLink]="['/dashboard/create-post']" class="matListitem" (click)="mobileQuery.matches ? drawer.toggle() : null">
                <img mat-list-icon src="./assets/images/icons/write-on-board.png" style="border-radius: 0;">
                <h4 mat-line class="titleMenuword">Write on board</h4>
            </mat-list-item>
            <mat-list-item routerLinkActive="routeActive" [routerLink]="['/dashboard/filter']" class="matListitem" (click)="mobileQuery.matches ? drawer.toggle() : null">
                <img mat-list-icon src="./assets/images/icons/university.png" style="border-radius: 0;">
                <h4 mat-line class="titleMenuword">University/Board</h4>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>
    <div class="example-sidenav-content" style="min-height:100vh;">
        <mat-toolbar class="__header justify-content-between">
            <div class="d-flex align-items-center">
                <mat-icon style="color: #22877C; font-weight: bold;" mat-button (click)="drawer.toggle()">menu</mat-icon>
                <h1 class="comm_title_h1 " style="margin-left: 15px;">{{page_title && page_title}}</h1>
            </div>
            <span (click)="logOut()" class="logOut">LOGOUT</span>
        </mat-toolbar>
        <router-outlet></router-outlet>
        <button (click)=" topFunction() " class="scrollTop" id="myBtn " title="Go to top "><mat-icon>keyboard_arrow_up</mat-icon></button>
    </div>
</mat-drawer-container>