@import '~@angular/material/theming';
@include mat-core();
$md-edu: ( 50: #e4f0ef, 100: #bddbd8, 200: #91c3be, 300: #64aaa3, 400: #439890, 500: #22867c, 600: #1e7e74, 700: #197369, 800: #14695f, 900: #0c564c, A100: #8bffed, A200: #58ffe6, A400: #25ffde, A700: #0cffda, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #ffffff, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ));
$edu-app-primary: mat-palette($md-edu);
$edu-app-accent: mat-palette($md-edu, A200, A100, A400);
$edu-app-warn: mat-palette($mat-red);
$edu-app-theme: mat-light-theme($edu-app-primary, $edu-app-accent, $edu-app-warn);
@include angular-material-theme($edu-app-theme);
.primaryColor {
    color: #4dccbd
}

.primaryBackground {
    background-color: #4dccbd
}

*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 6px
}


/*! Track !*/

*::-webkit-scrollbar-track {
    background: #00000029;
    opacity: .5;
    border-radius: 6px
}


/*! Handle !*/

*::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}


/*! Handle on hover !*/

*::-webkit-scrollbar-thumb:hover {
    background: #777;
}