@import '~@angular/material/theming';
@include mat-core();
$md-edu: ( 50: #eaf9f7, 100: #caf0eb, 200: #a6e6de, 300: #82dbd1, 400: #68d4c7, 500: #4dccbd, 600: #46c7b7, 700: #3dc0ae, 800: #34b9a6, 900: #25ad98, A100: #ebfffc, A200: #b8fff3, A400: #85ffeb, A700: #6bffe7, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #000000, 500: #000000, 600: #000000, 700: #000000, 800: #000000, 900: #000000, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ));
$edu-app-primary: mat-palette($md-edu);
$edu-app-accent: mat-palette($md-edu, A200, A100, A400);
$edu-app-warn: mat-palette($mat-red);
$edu-app-theme: mat-light-theme($edu-app-primary, $edu-app-accent, $edu-app-warn);
@include angular-material-theme($edu-app-theme);
.primaryColor {
    color: #4dccbd
}

.primaryBackground {
    background-color: #4dccbd
}

*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 6px
}


/*! Track !*/

*::-webkit-scrollbar-track {
    background: #00000029;
    opacity: .5;
    border-radius: 6px
}


/*! Handle !*/

*::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}


/*! Handle on hover !*/

*::-webkit-scrollbar-thumb:hover {
    background: #777;
}