html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

*:focus {
    outline: none !important;
}

body {
    margin: 0;
    font-family: 'PT Sans', sans-serif !important;
}

mat-option {
    font-family: 'PT Sans', sans-serif !important;
}

mat-icon {
    cursor: pointer;
}

.inputField {
    margin: 7% 0;
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.inputField label {
    font-size: 16px;
}

.inputField span {
    color: #888;
    font-size: 13px;
    margin-bottom: 17px;
}

.inputField input {
    width: 100%;
    height: 55px;
    border: 2px solid #4DCCBD;
    border-radius: 3px;
    padding: 10px 15px;
}

.fileUploadSet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 2px solid #4dccbd;
    border-style: dashed;
    border-radius: 3px;
    margin: 15px 0px;
    position: relative;
}

.fileUploadSet h1 {
    font-size: 18px;
    margin: 15px 0;
}

.fileUploadSet p {
    font-size: 13px;
    max-width: 70%;
    margin: 0;
    margin-bottom: 7px;
}

.fileUploadSet .icon {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4dccbd1f;
    cursor: pointer;
}

.icon img {
    width: 33%;
}

.fileUploadSet input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.errorInput {
    font-size: 13px;
    margin-left: 10px;
    color: #FF5722;
    padding-top: 2px;
    opacity: 0;
    animation: opacitSho 0.5s;
}

.errorShow {
    display: block;
    opacity: 1;
}

@keyframes opacitSho {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.inputSubmit {
    background: #22877c;
    border: 1px solid #22877c;
    padding: 7px 0px;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    margin: 30px 0;
    transition: 0.5s;
    cursor: pointer;
    width: 195px;
}

.inputCancel {
    background: #ffffff;
    border: 2px solid #000;
    padding: 8px 0px;
    font-size: 18px;
    border-radius: 3px;
    margin: 30px 0;
    transition: 0.5s;
    width: 155px;
    text-align: center;
}

.inputSubmit:hover,
.inputCancel:hover {
    box-shadow: 0px 0px 15px #0003;
}

.inputSubmit:disabled {
    background: #ddd;
    color: #00000038;
    cursor: default;
}

.inputSubmit:disabled:hover {
    box-shadow: none;
}

.__header {
    padding: 0 35px !important;
    box-shadow: 0px 3px 10px #0002;
    height: 58px !important;
}

.__content_sec {
    padding: 0 35px;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.comm_title_h1 {
    font-size: 30px;
    margin: 20px 0;
}

.comm_title_small_h1 {
    font-size: 22px;
    margin-bottom: 10px;
}

.comm_sub_title_small_p {
    margin-bottom: 40px;
    font-size: 17px;
    color: #777;
}

.searchField {
    width: 100% !important;
    padding: 7px !important;
    border-radius: 3px;
    border: 1px solid #707070 !important;
    color: #707070 !important;
}

.grid-column_set {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 15px;
}

.periodic_block {
    height: 160px;
    background: #fff;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000026;
    cursor: pointer;
    float: left;
    text-align: center;
    border: 1px solid #B7EAE5;
}

.periodic_block h2 {
    font-size: 45px;
    margin: 0;
    font-weight: 600;
    color: #4A4D5C;
}

.periodic_block p {
    margin: 0;
    padding: 7px;
    background: #B7EAE5;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 10px;
    color: #4a4e5c;
}

@media only screen and (max-width:575px) {
    .__header {
        padding: 0 25px !important;
    }
    .__content_sec {
        padding: 0 5px;
    }
    .periodic_block h2 {
        font-size: 27px;
    }
    .periodic_block p {
        font-size: 15px;
    }
}

.recent_set {
    width: 100%;
}

.recent_set p {
    font-size: 20px;
    color: #7E7E7E;
}


/* .recent_set li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid #eee;
}

.recent_set li:before {
    content: "•";
    font-size: 35px;
    line-height: .5;
    padding-right: 40px;
    margin-bottom: 3px;
    color: #7E7E7E;
} */

.iconSet {
    height: 100px;
    width: 2px;
    position: relative;
    background: #D1CCCC;
    margin-right: 30px;
}

.single_activity {
    list-style: none;
    display: flex;
    align-items: center;
}

.iconSet img {
    position: absolute;
    left: -17px;
    top: 27%;
}

.files-list {
    margin-top: 1.5rem;
}

.files-list .single-file {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    border: dashed 1px #979797;
    margin-bottom: 1rem;
    display: flex;
    flex-grow: 1;
}

.files-list .single-file .delete {
    display: flex;
    margin-left: 0.5rem;
    cursor: pointer;
    align-self: flex-end;
}

.files-list .single-file .name {
    font-size: 14px;
    font-weight: 500;
    color: #353f4a;
    margin: 0;
}

.files-list .single-file .size {
    font-size: 12px;
    font-weight: 500;
    color: #a4a4a4;
    margin: 0;
    margin-bottom: 0.25rem;
}

.files-list .single-file .info {
    width: 100%;
}


/* new common */

.userList {
    border: 2px solid #b7eae5;
    margin-top: 10px;
    border-radius: 3px;
}

.headingLst {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #B7EAE5;
}

.headingLst span {
    flex: 1;
}

.userSet img {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.userSet h1 {
    font-size: 15px;
    margin: 0;
    margin-left: 15px;
    font-weight: 400;
}

.userSet {
    display: flex;
    align-items: center;
    flex: 1;
}

.activator {
    background: #CC4D4D;
    border: none;
    padding: 2px 0px;
    color: #fff;
    font-size: 15px;
    border-radius: 3px;
    transition: 0.5s;
    cursor: pointer;
    width: 105px;
}

.deactivator {
    background: #4dccbd !important;
}

.single-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0;
    border-bottom: 2px solid #B7EAE5;
    padding: 0 10px;
    padding-bottom: 4px;
    margin-bottom: 0;
    color: #4A4D5C;
}

.single-user mat-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
}

.single-user span {
    flex: 1;
}

.vieW {
    padding: 2px 0;
    width: 100px;
    border: none;
    border-radius: 3px;
    background: #22877c;
    color: #fff;
}

.ediT {
    padding: 2px 0;
    width: 90px;
    border: none;
    border-radius: 3px;
    background: #D67238;
    color: #fff;
}

.empty {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}

.createItem {
    display: flex;
    align-items: center;
    border: 2px solid #22877c;
    border-radius: 6px;
    padding: 7px 13px;
    justify-content: center;
    float: left;
    margin-top: 10px;
    color: #22877c;
    cursor: pointer;
    font-size: 15px;
}

.createItem:hover {
    text-decoration: none;
}