<div class="container-fluid">
    <div class="row">
        <mat-toolbar color="primary" class="__header home justify-content-between">
            <h1>Classteam</h1>
            <button mat-raised-button (click)="logOut()" class="logOut">Log Out<mat-icon>power_settings_new</mat-icon></button>
        </mat-toolbar>
    </div>

    <div class="__content_sec">
        <h1 class="comm_title_h1 ">Dashboard</h1>
        <div class="grid-column_set">
            <div class="periodic_block" matRipple [routerLink]="['/dashboard/class-rooms']">
                <h2 class="primaryColor">{{classCount && classCount}}</h2>
                <p>Classroom</p>
            </div>
            <div class="periodic_block" matRipple [routerLink]="['/dashboard/users']">
                <h2 class="primaryColor">{{stdCount && stdCount}}</h2>
                <p>Students</p>
            </div>
            <div class="periodic_block" matRipple [routerLink]="['/dashboard/template-list']" routerLinkActive="router-link-active">
                <h2 class="primaryColor">{{tempCount && tempCount}}</h2>
                <p>Templates</p>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <h1 class="comm_title_h1">Activities</h1>
        <div class="recent_set">
            <!-- <p>Today</p>
            <ul>
                <li>Cusat cse s6 template created</li>
                <li>User tom@gmail.com is deactivated</li>
                <li>New classroom iitcses6madras created </li>
            </ul> -->
            <ul style="max-height: 40vh; overflow-y: auto;">
                <li *ngFor="let item of actvities">
                    <div class="d-flex flex-column">
                        <span><h6 style="margin: 0; margin-right: 5px;">{{item && item.title}}</h6> <i >{{item && item.description}}</i></span>
                        <span style="font-size: 14px;">{{item && item.createdAt | dateAgo}}</span>
                    </div>
                </li>
            </ul>
            <div *ngIf="isLoadActvity">
                <mat-spinner style="margin:0 auto;" diameter="50"></mat-spinner>
            </div>
            <a (click)="showMore()" *ngIf="loadMore">Load More</a>


        </div>
        <!-- <div class="recent_set">
            <p>22 Sep 2020</p>
            <ul>
                <li>Cusat cse s6 template created</li>
                <li>User tom@gmail.com is deactivated</li>
            </ul>
        </div> -->
    </div>
</div>