.subjects_set {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
}

.sub_sin_block {
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #0003;
    cursor: pointer;
    transition: 0.5s;
}

.sub_sin_block:hover {
    box-shadow: 2px 2px 8px #0005;
}

.sub_sin_block h2 {
    font-size: 35px;
    font-family: 'Poppins SemiBold';
    margin: 0;
    margin-right: 40px;
}

.sub_sin_block p {
    font-size: 17px;
    font-family: 'Poppins SemiBold';
    margin: 0;
    text-transform: capitalize;
}

.subs {
    padding: 20px;
    border-left: 1px solid #777;
}

.checker_List {
    max-height: 50vh;
    overflow-y: scroll;
}

.searchKey {
    margin-bottom: 10%;
    width: 100%;
    padding: 7px;
    border: 2px solid #666;
    border-radius: 7px;
    background-image: url(./../../assets/images/icons/search.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 30px;
    padding-right: 35px;
}

.proPic {
    width: 80px;
    border-radius: 4px;
    margin-right: 20px;
    height: 80px;
    object-fit: contain;
}

.singleSubItem {
    display: flex;
    align-items: center;
    border: 1px solid #4A4D5C;
    border-radius: 6px;
    padding: 7px 13px;
    justify-content: space-between;
    float: left;
    margin-right: 14px;
    font-size: 15px;
    height: 45px;
    min-width: 180px;
    cursor: pointer;
    transition: 0.3s;
}

.activeItem {
    color: #fff;
    background: #22877c;
    border-color: #22877c !important;
}

.singleLetter {
    text-transform: uppercase;
    background: #B7EAE5;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.activeItem .singleLetter {
    background: #fff;
    color: #22877c !important;
}

.singleAdd {
    display: flex;
    align-items: center;
    border: 2px solid #22877c;
    border-radius: 6px;
    justify-content: center;
    float: left;
    margin-right: 15px;
    width: auto;
    font-size: 16px;
    color: #22877c;
    cursor: pointer;
    padding: 9px 10px;
}

.singleAdd mat-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin-left: 8px;
}

.singleAdd:hover {
    text-decoration: none;
}

.panelHeader {
    background: #B7EAE5 !important;
    border-radius: 0 !important;
}

.expPanel {
    box-shadow: none !important;
    border: 2px solid #b7eae5;
    color: #4A4D5C !important;
    margin-bottom: 5px;
}

.panelAction mat-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
}

.opacityDrop {
    animation: opacityDrop .3s;
}

@keyframes opacityDrop {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}