<div class="__content_sec">
    <h1 class="comm_title_small_h1 d-flex align-items-center pt-4">
        <mat-icon matRipple (click)="_location.back()" title="Go back" style="margin-right: 20px;">west</mat-icon>{{template && template.name}} </h1>
    <div class="d-flex justify-content-between align-items-center mb-4 pt-2 ">
        <div class="d-flex justify-content-between align-items-center">
            <img class="proPic" src="{{template && template.logo ? template.logo : './assets/images/unavailable.png'}}" alt="">
            <div>
                <p class="border-bottom mb-0">{{template && template.name}}</p>
                <p class="border-bottom mb-0">Created On : {{template && template.createdAt | dateAgo}}</p>
                <p class="border-bottom mb-0">Status : {{template && template.active ? 'Active' : 'In Active'}}</p>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <button class="ediT" [routerLink]="['/dashboard/edit-template', tempId]" style="margin: 0 4px;">Edit</button>
            <button class="activator" (click)="deleteTemp(tempId)" style="padding: 3px 0px;">Delete</button>
        </div>
    </div>

    <div class="opacityDrop">
        <div class="d-inline-block">
            <div *ngFor="let item of subjects; let i = index;" (click)="setRow(item,i)" class="singleSubItem" [ngClass]="{'activeItem': subIndex === i}">
                <span class="singleLetter">{{item && item.subject | slice:0:1}}</span>
                <span class="text-capitalize" style="flex: 1;margin-left: 10px">{{item && item.subject | slice:0:18}}</span>
                <span *ngIf="subIndex !== i">&nbsp;</span>
                <mat-icon style="color: #fff;" (click)="editSub(item, i)">edit</mat-icon>
                <mat-icon style="color: #fff;" (click)="deleteSub(item, i)" *ngIf="subIndex === i">delete</mat-icon>
            </div>
            <a class="singleAdd" (click)="createSub()" title="Create Subject">Add Subject <mat-icon>add</mat-icon></a>
        </div>


        <div class="contentBlk opacityDrop" *ngIf="subArray">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Documents">
                    <div class="d-flex justify-content-end">
                        <a class="createItem" [routerLink]="['/dashboard/create-document',subId,tempId ]" *ngIf="!isSelectedDoc">Create Document</a>
                        <a class="createItem" (click)="uploadDocFile()" *ngIf="isSelectedDoc">Upload file</a>
                    </div>
                    <div class="userList" *ngIf="!isSelectedDoc">
                        <div class="headingLst">
                            <div class="userSet">
                                <h1>#</h1>
                                <h1>Name</h1>
                            </div>
                            <span style="margin-right: 20px;">Files</span>
                            <div style="margin-right: 20px;">Actions</div>
                        </div>
                        <div class="single-user" style="cursor: pointer;" *ngFor="let item of documents; let i = index;">
                            <div class="userSet" (click)="selectedDoc(item, i)">
                                <h1>{{i + 1}}</h1>
                                <h1>{{item && item.title}}</h1>
                            </div>
                            <span style="margin-right: 20px;" (click)="selectedDoc(item, i)">
                                {{item && item.files.length}}
                            </span>
                            <div>
                                <!-- <mat-icon style="margin-right: 10px;" [routerLink]="['/dashboard/edit-document', subId, tempId, item && item._id]">edit</mat-icon> -->
                                <mat-icon style="margin-right: 20px;" (click)="deleteDoc(item, i)">delete</mat-icon>
                            </div>
                        </div>
                        <div class="empty" *ngIf="documents.length == 0">
                            Sorry. No documents added yet.
                        </div>
                    </div>
                    <div *ngIf="isSelectedDoc" class="opacityDrop">
                        <h1 class="comm_title_small_h1 d-flex align-items-center" style="font-size: 19px;">
                            <mat-icon matRipple (click)="isSelectedDoc = false" title="Go back" style="margin-right: 20px;">west</mat-icon>{{selectedDocument && selectedDocument.title}}</h1>
                        <div class="userList">
                            <div class="headingLst">
                                <div class="userSet">
                                    <h1>#</h1>
                                    <h1>Name</h1>
                                </div>
                                <span style="margin-right: 20px;"></span>
                                <span style="margin-left: 20px;"></span>
                                <div style="margin-right: 20px;">Actions</div>
                            </div>
                            <div class="single-user" *ngFor="let file of selectedDocument.files; let j = index;">
                                <div class="userSet">
                                    <h1>{{j + 1}}</h1>
                                    <h1>{{file && file.name}}</h1>
                                </div>
                                <span style="margin-right: 20px;">
                                </span>
                                <span style="margin-left: 20px;"></span>
                                <div>
                                    <mat-icon style="margin-right: 10px;" (click)=viewFile(file.url,file.type)>visibility</mat-icon>
                                    <mat-icon style="margin-right: 20px;" (click)="deleteDocFile(file)">delete</mat-icon>
                                </div>
                            </div>
                            <div class="empty" *ngIf="isDocumentFileEmpty">
                                Sorry. No files added yet.
                            </div>
                            <div class="d-flex justify-content-center" style="min-height: 40px; margin-top: 10px;" *ngIf="isLoadingDocFile">
                                <mat-spinner style="margin:0 auto;" diameter="30"></mat-spinner>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Curriculum">
                    <div class="d-flex justify-content-end">
                        <a class="createItem" [routerLink]="['/dashboard/create-section',subId,tempId]" routerLinkActive="router-link-active">Create Section</a>
                    </div>
                    <div class="mt-2">
                        <mat-accordion class="example-headers-align">
                            <mat-expansion-panel *ngFor="let item of curriculum" hideToggle class="expPanel">
                                <mat-expansion-panel-header class="panelHeader" [collapsedHeight]="'40px'" [expandedHeight]="'40px'">
                                    <div class="d-flex justify-content-between align-items-center" style="width: 100%;">
                                        <span>{{item && item.title}}</span>
                                        <div class="d-flex justify-content-between align-items-center panelAction">
                                            <!-- <mat-icon (click)="editSection(item)">edit</mat-icon> -->
                                            <mat-icon (click)="deleteSection(item)">delete</mat-icon>
                                        </div>
                                    </div>

                                </mat-expansion-panel-header>
                                <div class="pt-4">{{item && item.description}}</div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <div class="empty" *ngIf="curriculum.length == 0">
                            Sorry. No sections added yet.
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Notes">
                    <div class="d-flex justify-content-end">
                        <a class="createItem" [routerLink]="['/dashboard/create-note',subId,tempId ]" *ngIf="!isSelectedNote">Create Note</a>
                        <a class="createItem" (click)="uploadNoteFile()" *ngIf="isSelectedNote">Upload file</a>
                    </div>
                    <div class="userList" *ngIf="!isSelectedNote">
                        <div class="headingLst">
                            <div class="userSet">
                                <h1>#</h1>
                                <h1>Name</h1>
                            </div>
                            <span style="margin-right: 20px;">Files</span>
                            <div style="margin-right: 20px;">Actions</div>
                        </div>
                        <div class="single-user" style="cursor: pointer;" *ngFor="let item of notes; let i = index;">
                            <div class="userSet" (click)="selectNote(item, i)">
                                <h1>{{i + 1}}</h1>
                                <h1>{{item && item.title}}</h1>
                            </div>
                            <span style="margin-right: 20px;" (click)="selectNote(item, i)">
                                {{item && item.files.length}}
                            </span>
                            <div>
                                <!-- <mat-icon style="margin-right: 10px;" [routerLink]="['/dashboard/edit-note', subId, tempId, item && item._id]">edit</mat-icon> -->
                                <mat-icon style="margin-right: 20px;" (click)="deleteNote(item, i)">delete</mat-icon>
                            </div>
                        </div>
                        <div class="empty" *ngIf="notes.length == 0">
                            Sorry. No notes added yet.
                        </div>
                    </div>
                    <div *ngIf="isSelectedNote" class="opacityDrop">
                        <h1 class="comm_title_small_h1 d-flex align-items-center" style="font-size: 19px;">
                            <mat-icon matRipple (click)="isSelectedNote = false" title="Go back" style="margin-right: 20px;">west</mat-icon>{{selectedNote && selectedNote.title}}</h1>
                        <div class="userList">
                            <div class="headingLst">
                                <div class="userSet">
                                    <h1>#</h1>
                                    <h1>Name</h1>
                                </div>
                                <span style="margin-right: 20px;"></span>
                                <span style="margin-left: 20px;"></span>
                                <div style="margin-right: 20px;">Actions</div>
                            </div>
                            <div class="single-user" *ngFor="let file of selectedNote.files; let j = index;">
                                <div class="userSet">
                                    <h1>{{j + 1}}</h1>
                                    <h1>{{file && file.name}}</h1>
                                </div>
                                <span style="margin-right: 20px;">
                                </span>
                                <span style="margin-left: 20px;"></span>
                                <div>
                                    <mat-icon style="margin-right: 10px;" (click)=viewFile(file.url,file.type)>visibility</mat-icon>
                                    <mat-icon style="margin-right: 20px;" (click)="deleteNoteFile(file)">delete</mat-icon>
                                </div>
                            </div>
                            <div class="empty" *ngIf="isNoteFileEmpty">
                                Sorry. No files added yet.
                            </div>

                            <div class="d-flex justify-content-center" style="min-height: 40px; margin-top: 10px;" *ngIf="isLoadingNoteFile">
                                <mat-spinner style="margin:0 auto;" diameter="30"></mat-spinner>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>