<!-- <div class="container-fluid">
    <div class="__content_sec">
        <div class="subjects_set">
            <div class="sub_sin_block justify-content-between align-items-center" matRipple *ngFor="let item of subjects" routerLinkActive="router-link-active">
                <div class="align-items-center d-flex" [routerLink]="['/dashboard/subject',item._id,tempId ]" style="flex: 9; padding: 20px;">
                    <h2 class="primaryColor text-uppercase">{{item && item.subject | slice:0:1}}</h2>
                    <p>{{item && item.subject | slice:0:18}}</p>
                </div>
                <div class="d-flex align-items-center" style="padding-right: 20px;">
                    <mat-icon style="margin-left: 10px;" (click)="deleteSub(item)">close</mat-icon>
                </div>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="d-flex justify-content-center align-content-center" style="height: 60vh;" *ngIf="isLoading">
            <mat-spinner diameter="30"></mat-spinner>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center" style="height: 60vh;" *ngIf="isEmpty">
            <mat-icon class="empty">sentiment_very_dissatisfied</mat-icon>
            <h5>No subjects found.!</h5>
        </div>
    </div>
</div>

 -->


<div class="__content_sec">
    <h1 class="comm_title_small_h1 d-flex align-items-center pt-4">
        <mat-icon matRipple (click)="_location.back()" title="Go back" style="margin-right: 20px;">west</mat-icon>{{template && template.name}} </h1>
    <div class="d-flex justify-content-between align-items-center mb-4 pt-2 ">
        <div class="d-flex justify-content-between align-items-center">
            <img class="proPic" src="{{template && template.logo ? template.logo : './assets/images/unavailable.png'}}" alt="">
            <div>
                <p class="border-bottom mb-0">{{template && template.name}}</p>
                <p class="border-bottom mb-0">Created On : {{template && template.createdAt | dateAgo}}</p>
                <p class="border-bottom mb-0">Status : {{template && template.active ? 'Active' : 'In Active'}}</p>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <button class="ediT" [routerLink]="['/dashboard/edit-template', tempId]" style="margin: 0 4px;">Edit</button>
            <button class="activator" (click)="deleteTemp(tempId)" style="padding: 3px 0px;">Delete</button>
        </div>
    </div>

    <div class="">
        <div class="d-inline-block">
            <div *ngFor="let item of subjects; let i = index;" (click)="setRow(item,i)" class="singleSubItem" [ngClass]="{'activeItem': subIndex === i}">
                <span class="singleLetter">{{item && item.subject | slice:0:1}}</span>
                <span class="text-capitalize">{{item && item.subject | slice:0:18}}</span>
                <span *ngIf="subIndex !== i"></span>
                <mat-icon style="color: #fff;" (click)="deleteSub(item)" *ngIf="subIndex === i">delete</mat-icon>
            </div>
            <a class="singleAdd" (click)="createSub()">+</a>
        </div>

        <div class="contentBlk" *ngIf="subArray">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Documents">
                    <div class="d-flex justify-content-end">
                        <a class="createItem" [routerLink]="['/dashboard/create-document',subId,tempId ]">Create Document</a>
                    </div>
                    <div class="userList">
                        <div class="headingLst">
                            <div class="userSet">
                                <h1>#</h1>
                                <h1>Name</h1>
                            </div>
                            <span style="margin-right: 20px;">Files</span>
                            <span style="margin-left: 20px;"></span>
                            <div style="margin-right: 20px;">Actions</div>
                        </div>
                        <div class="single-user" style="cursor: pointer;" *ngFor="let item of documents; let i = index;">
                            <div class="userSet">
                                <h1>{{i + 1}}</h1>
                                <h1>{{item && item.title}}</h1>
                            </div>
                            <span style="margin-right: 20px;">
                                {{item && item.files.length}}
                            </span>
                            <span style="margin-left: 20px;"></span>
                            <div>
                                <mat-icon style="margin-right: 10px;" [routerLink]="['/dashboard/edit-document', subId, tempId, item && item._id]">edit</mat-icon>
                                <mat-icon style="margin-right: 20px;" (click)="deleteTemp(item, i)">delete</mat-icon>
                            </div>
                        </div>
                        <div class="empty" *ngIf="documents.length == 0">
                            Sorry. No documents added yet.
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Curriculam">
                    <div>
                        <a *ngFor="let item of curriculam">{{item && item.title}}</a>
                    </div>
                </mat-tab>
                <mat-tab label="Notes">
                    <div class="d-flex justify-content-end">
                        <a class="createItem" [routerLink]="['/dashboard/create-note',subId,tempId ]">Create Note</a>
                    </div>
                    <div class="userList">
                        <div class="headingLst">
                            <div class="userSet">
                                <h1>#</h1>
                                <h1>Name</h1>
                            </div>
                            <span style="margin-right: 20px;">Files</span>
                            <span style="margin-left: 20px;"></span>
                            <div style="margin-right: 20px;">Actions</div>
                        </div>
                        <div class="single-user" style="cursor: pointer;" *ngFor="let item of notes; let i = index;">
                            <div class="userSet">
                                <h1>{{i + 1}}</h1>
                                <h1>{{item && item.title}}</h1>
                            </div>
                            <span style="margin-right: 20px;">
                                {{item && item.files.length}}
                            </span>
                            <span style="margin-left: 20px;"></span>
                            <div>
                                <mat-icon style="margin-right: 10px;" [routerLink]="['/dashboard/edit-note', subId, tempId, item && item._id]">edit</mat-icon>
                                <mat-icon style="margin-right: 20px;" (click)="deleteTemp(item, i)">delete</mat-icon>
                            </div>
                        </div>
                        <div class="empty" *ngIf="notes.length == 0">
                            Sorry. No noted added yet.
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>