<div class="container-fluid">
    <div class="row">
        <mat-toolbar color="primary" class="__header justify-content-between">
            <h1 style="font-size: 20px;">
                <mat-icon matRipple (click)="_location.back()" title="Go Back">keyboard_arrow_left</mat-icon>Subjects View</h1>
            <!-- <mat-icon>share</mat-icon> -->
        </mat-toolbar>
    </div>


    <div class="__content_sec">

        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h1 class="comm_title_small_h1 ">Subjects </h1>
                <p class="comm_sub_title_small_p ">Subjects under {{template && template.name}}</p>
            </div>
            <button class="inputSubmit" style="margin-bottom: 40px;" (click)="createSub()">Create</button>
        </div>
        <div class="subjects_set">
            <div class="sub_sin_block justify-content-between align-items-center" matRipple *ngFor="let item of subjects" routerLinkActive="router-link-active">
                <div class="align-items-center d-flex" [routerLink]="['/dashboard/subject',item._id,tempId ]" style="flex: 9; padding: 20px;">
                    <h2 class="primaryColor text-uppercase">{{item && item.subject | slice:0:1}}</h2>
                    <p>{{item && item.subject | slice:0:18}}</p>
                </div>
                <div class="d-flex align-items-center" style="padding-right: 20px;">
                    <mat-icon style="margin-left: 10px;" (click)="deleteSub(item)">close</mat-icon>
                </div>
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <!-- <div class="col-sm-3">
                <div class="subs">
                    <h1 class="comm_title_small_h1 ">Subjects</h1>
                    <p class="comm_sub_title_small_p ">Add subjects to the template</p>
                    <form [formGroup]="subCheckBox">
                        <input [(ngModel)]="searchkey" (ngModelChange)="searchSubject($event)" type="text" id="keyword" class="searchKey" placeholder="Search" [ngModelOptions]="{standalone: true}" />
                        <div class="checker_List d-flex flex-column" (scroll)="scrollMe($event)">
                            <mat-checkbox class="example-margin" (change)="addSub($event.checked, sub)" *ngFor="let sub of subjects_list" [formControl]="chck">
                                {{sub.name}}
                            </mat-checkbox>
                            <div *ngIf="isLoading">
                                <mat-spinner style="margin:0 auto;" diameter="30"></mat-spinner>
                            </div>
                        </div>
                    </form>
                    <button class="inputSubmit" (click)="createSub()">Add</button>
                </div>
            </div> -->
        </div>
        <div class="d-flex justify-content-center align-content-center" style="height: 60vh;" *ngIf="isLoading">
            <mat-spinner diameter="50"></mat-spinner>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center" style="height: 60vh;" *ngIf="isEmpty">
            <mat-icon class="empty">sentiment_very_dissatisfied</mat-icon>
            <h5>No subjects found.!</h5>
        </div>
    </div>
</div>